.dashboard_content {
  background-color: white;
  margin: 1em 3em 10em 3em;
  box-shadow: 1px 2px 3px gray;
  padding: 10px 3em 3em 3em;
}


/* Header */
.title {
  color: gray;
  margin: 0;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
}

.btn_div {
  display: flex;
  align-items: center;
  border: 2px solid white;
  margin-right: 1em;
  margin-bottom: 1em;
}

.btn {
  font-family: "Nunito";
  background-color: white;
  color: gray;
  width: fit-content;
  height: 2em;
  border: none;
}

.btn_div:hover {
  border-bottom: 2px solid blue;
}

.btn_div:hover .btn {
  color: blue;
}

/* Tabs */
.tabs_div {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;
  padding-right: 0;
}

.tabs {
  background-color: white;
  margin-right: 1em;
  padding: 1em;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  border-radius: 5px;
}

.tabs h3,
.tabs h4,
.tabs p {
  margin: 0;
}

.tabs h4 {
  font-size: 12px;
}

.tabs p {
  font-size: 10px;
}

.tab_bottom_div {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.img_div {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  border-radius: 5px;
}

.percent_div {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
}

/* Graphs */
.graphs {
  background-color: #e5e5e5;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  padding: 1em;
  padding-right: 0;
}

.graph_tab {
  background-color: white;
  border-radius: 5px;
  margin-right: 1em;
}

.graph_tab h5 {
  color: navy;
  margin-left: 1em;
}