.navbar {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 10px 0px rgb(37, 37, 37);
  padding: 2em;
}

.logo {
  margin: 0;
}

.navbar_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 3em;
  box-shadow: 1px 2px 3px gray;
  border-radius: 5px;
}

.link {
  color: #333;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.help {
  display: flex;
  align-items: flex-end;
}

.help_link {
  color: black;
  font-weight: bold;
  font-size: 0.7rem;
  margin-right: 5px;
}

.agent {
  display: grid;
  background-color: #fad3b4;
  font-weight: bold;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
}

.agent_img {
  height: 2em;
  border-radius: 50%;
}